@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

/* 3D Marquee Animations */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


@keyframes marquee-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}


.animate-marquee-reverse {
  animation: marquee-reverse var(--duration, 30s) linear infinite;
}


